<div class="collections">
	{%- for block in section.blocks -%}
	<div class="collection">
	<div class="collection-img">
		<img src="{{ block.settings.image | img_url: 'medium' }}" alt="{{ block.settings.image.alt }}">
	</div>
<div class="collection-text">
	<h6>{{ block.settings.image_caption }}</h6>
	<a href="{{ block.settings.collectionurl }}">
	 <div class="sub-title">Shop</div>
		{%- render 'icon-arrow-right'  -%}</a>
</div>
</div>

	{% endfor %}
</div>


<h5>HEY</h5>


{% schema %}
{
	"name": "Gallery",
	"class": "gallery-section",
	"max_blocks": 3,
	"settings": [
	{
		"type": "color",
		"id": "background",
		"label": "Background color",
		"default": "#BADA55"
	}
	],
	"blocks": [
	{
		"type": "gallery_image",
		"name": "Image",
		"settings": [
			{
				"type": "image_picker",
				"id": "image",
				"label": "Gallery image",
				"info": "Recommended size 500x500"
			},
			{
				"type": "textarea",
				"id": "image_caption",
				"label": "Image caption",
				"default": "Image caption"
			},
			{
				"type": "url",
				"id": "collectionurl",
				"label": "Collection link"

			}
		]
	}
	],
	"presets": [
		{
			"name":"Gallery"
		}
	]
}
{% endschema %}