<p> {{ section.settings.announcement_text }} </p>



{% schema %}
{
	"name": "Announcement bar",
	"settings": [
		{
			"type": "text",
			"id": "announcement_text",
			"label": "Announcement"
		}
	]
}

{% endschema %}